* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', monospace, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;

  color: #fff;
  background: linear-gradient(to right, #283048, #859398);
}